In [1]:
import pandas as pd

# Impression Data

In [2]:
df_imp = pd.read_csv("Data/impressions.csv")

In [116]:
df_imp.head()

            auction_id  message_id  user_id    spend            imp_date
0  1011527229225982812      335881    81763  0.00048 2018-07-09 07:14:28
1  1019125075080749328      530308    75065  0.00021 2018-07-09 07:09:24
2  1026658047695643709      336028    36559  0.00052 2018-07-09 07:10:52
3  1031386905892227659      651411    32262  0.00029 2018-07-09 07:30:18
4  1037113241780132055      335881    50281  0.00068 2018-07-09 06:58:23

In [4]:
df_imp.isnull().sum()

auction_id    0
timestamp     0
message_id    0
user_id       0
spend         0
dtype: int64

In [5]:
df_imp['imp_date'] = pd.to_datetime(df_imp['timestamp'],unit='s')

In [6]:
del df_imp['timestamp']

In [8]:
min(df_imp.imp_date)

Timestamp('2018-07-09 00:09:28')

In [9]:
max(df_imp.imp_date)

Timestamp('2018-07-15 19:05:24')

In [10]:
total_cost = df_imp['spend'].sum()
total_cost

82.06262999999984

In [11]:
total_impressions = df_imp.shape[0]
total_impressions

150629

In [12]:
df_imp['auction_id'].nunique()

150513

##### Non Unique in Impressions

In [13]:
df_imp['auction_id'].value_counts().head(55)

2326557348473098606    14
8386290978554396711     9
1824452139292839290     8
8943297806208427834     8
8093996434997695502     7
3634985409626919235     6
5028398392698500485     5
8133963243210185438     5
7927974799821096064     4
2022070982610432329     4
4734023302565980785     4
2396405569861982654     4
2108129232900998849     4
2939487640507382393     4
5281611421430104840     3
8522355830655665659     3
6483681017430628472     3
8519627519387732069     2
8183456030952006901     2
9015409397330182400     2
4079882425314908043     2
3885852085046501630     2
2232491258818046207     2
3722659191054344952     2
1273707929677105329     2
1832571499112480437     2
7296498057412134549     2
5492880419949562693     2
2939386060475396589     2
7504282777403225196     2
1485570851094186479     2
6977234717149525631     2
5235056917550918009     2
7300640351846572173     2
2463629866163231374     2
3701851909757369667     2
5584442764319901108     2
5784576308268626567     2
7272646392955614133     2
7392391732830030146     2
4070667513612456641     2
1115429320248307899     2
6766111159782332148     2
558714330775394113      2
7370478112125019904     2
8355966068927723321     2
2960577787952223747     2
282968489614001271      2
7667284604732465371     2
6957968512779517920     2
6055461543549888274     2
6839122545953557268     2
2344406397663897444     2
8733606773405939143     2
1545275101669312095     2
Name: auction_id, dtype: int64

In [14]:
#total unique users
unique_users = df_imp['user_id'].nunique()
unique_users

69238

In [16]:
#total_cpm
cpm = (total_cost / total_impressions) * 1000
cpm

0.5447996733696688

In [17]:
#cost per unique user
cpu = (total_cost / unique_users)
cpu

0.001185225309800974

In [18]:
#cost per unique thousand users
cptu = cpu* 1000
cptu

1.185225309800974

In [19]:
#cpm for unique impressions
cpm1 = (total_cost / df_imp['auction_id'].nunique()) * 1000
cpm1

0.5452195491419335

# Conversion data

In [21]:
df_conv = pd.read_csv("Data/conversions.csv") 
df_conv

      user_id   timestamp  conversion_id conversion_name
0       13026  1531121483         285724          visite
1       14117  1531120340         285724          visite
2       15472  1531119604         285724          visite
3       16213  1531119328         760041           vente
4       16970  1531120617         285724          visite
...       ...         ...            ...             ...
8888    82493  1531615952         285724          visite
8889    84722  1531604471         760041           vente
8890    88614  1531611262         285724          visite
8891    89556  1531615886         285724          visite
8892    70845  1531684581         285724          visite

[8893 rows x 4 columns]

In [22]:
df_conv.isnull().sum()

user_id            0
timestamp          0
conversion_id      0
conversion_name    0
dtype: int64

In [23]:
df_conv['conv_date'] = pd.to_datetime(df_conv['timestamp'],unit='s')
df_conv

      user_id   timestamp  conversion_id conversion_name           conv_date
0       13026  1531121483         285724          visite 2018-07-09 07:31:23
1       14117  1531120340         285724          visite 2018-07-09 07:12:20
2       15472  1531119604         285724          visite 2018-07-09 07:00:04
3       16213  1531119328         760041           vente 2018-07-09 06:55:28
4       16970  1531120617         285724          visite 2018-07-09 07:16:57
...       ...         ...            ...             ...                 ...
8888    82493  1531615952         285724          visite 2018-07-15 00:52:32
8889    84722  1531604471         760041           vente 2018-07-14 21:41:11
8890    88614  1531611262         285724          visite 2018-07-14 23:34:22
8891    89556  1531615886         285724          visite 2018-07-15 00:51:26
8892    70845  1531684581         285724          visite 2018-07-15 19:56:21

[8893 rows x 5 columns]

In [24]:
del df_conv['timestamp']
df_conv

      user_id  conversion_id conversion_name           conv_date
0       13026         285724          visite 2018-07-09 07:31:23
1       14117         285724          visite 2018-07-09 07:12:20
2       15472         285724          visite 2018-07-09 07:00:04
3       16213         760041           vente 2018-07-09 06:55:28
4       16970         285724          visite 2018-07-09 07:16:57
...       ...            ...             ...                 ...
8888    82493         285724          visite 2018-07-15 00:52:32
8889    84722         760041           vente 2018-07-14 21:41:11
8890    88614         285724          visite 2018-07-14 23:34:22
8891    89556         285724          visite 2018-07-15 00:51:26
8892    70845         285724          visite 2018-07-15 19:56:21

[8893 rows x 4 columns]

In [25]:
min(df_conv.conv_date)

Timestamp('2018-07-09 00:04:19')

In [26]:
max(df_conv.conv_date)

Timestamp('2018-07-15 19:59:10')

In [28]:
#total visits vs sales
df_conv.conversion_name.value_counts()

visite    6131
vente     2762
Name: conversion_name, dtype: int64

# Combined Data

In [30]:
comb_df1 = pd.merge(df_imp, df_conv, on='user_id', suffixes=('_imp', '_conv'))
comb_df1

,auction_id,message_id,user_id,spend,imp_date,conversion_id,conversion_name,conv_date
0,1031386905892227659,651411,32262,0.00029,2018-07-09 07:30:18,285724,visite,2018-07-09 12:18:59
1,7002424012566036536,336028,32262,0.00061,2018-07-09 09:36:22,285724,visite,2018-07-09 12:18:59
2,2466402414753153137,336028,32262,0.00061,2018-07-11 18:17:15,285724,visite,2018-07-09 12:18:59
3,2041601436001243868,651411,32262,0.00065,2018-07-12 07:20:37,285724,visite,2018-07-09 12:18:59
4,1369830363778070617,335881,29806,0.00064,2018-07-09 06:56:34,285724,visite,2018-07-13 15:10:55
...,...,...,...,...,...,...,...,...
16164,6619127839878516874,336028,48881,0.00029,2018-07-15 04:08:06,285724,visite,2018-07-11 06:03:34
16165,6685580618585886334,336028,41188,0.00007,2018-07-15 04:25:20,285724,visite,2018-07-15 10:19:34
16166,8920701388428247600,336028,40278,0.00024,2018-07-15 04:02:00,760041,vente,2018-07-12 05:11:50
16167,8147333642810125594,336028,38818,0.00022,2018-07-15 19:04:23,285724,visite,2018-07-14 14:48:10
16168,8147333642810125594,336028,38818,0.00022,2018-07-15 19:04:23,760041,vente,2018-07-15 15:45:59

In [53]:
#unique user impressions
df_imp.user_id.nunique()

69238

In [54]:
#unique user conversions
df_conv.user_id.nunique()

8373

### Rule 1 -> count as conv from impression only if conv time > impression time

In [55]:
#drop the ones where conv timestamp < imp timestamp 
comb_df1 = comb_df1[comb_df1['conv_date'] > comb_df1['imp_date']]
comb_df1

,auction_id,message_id,user_id,spend,imp_date,conversion_id,conversion_name,conv_date
0,1031386905892227659,651411,32262,0.00029,2018-07-09 07:30:18,285724,visite,2018-07-09 12:18:59
1,7002424012566036536,336028,32262,0.00061,2018-07-09 09:36:22,285724,visite,2018-07-09 12:18:59
4,1369830363778070617,335881,29806,0.00064,2018-07-09 06:56:34,285724,visite,2018-07-13 15:10:55
5,6770935537018086228,335881,29806,0.00064,2018-07-09 12:47:21,285724,visite,2018-07-13 15:10:55
6,6955722404886252502,651411,29806,0.00025,2018-07-10 06:14:26,285724,visite,2018-07-13 15:10:55
...,...,...,...,...,...,...,...,...
16005,6682814574162461308,336028,88411,0.00029,2018-07-15 05:00:14,760041,vente,2018-07-15 14:10:38
16012,932252282285917441,336028,70702,0.00077,2018-07-15 05:27:20,285724,visite,2018-07-15 10:45:02
16017,3093674932027636955,336028,61995,0.00088,2018-07-15 09:33:18,285724,visite,2018-07-15 19:09:21
16154,3744858819027424781,336028,65719,0.00031,2018-07-15 15:15:16,760041,vente,2018-07-15 18:29:22
16165,6685580618585886334,336028,41188,0.00007,2018-07-15 04:25:20,285724,visite,2018-07-15 10:19:34

In [60]:
#assigned convertions
conv_total = comb_df1.groupby('conversion_name')['user_id'].count()
conv_total

conversion_name
vente     3000
visite    6582
Name: user_id, dtype: int64

In [61]:
#CPA
cpa = total_cost / conv_total
cpa

conversion_name
vente     0.027354
visite    0.012468
Name: user_id, dtype: float64

### Rule change -> count as conv from imp, only if conversion within 1 day of impression

In [63]:
from datetime import timedelta

comb_df2 = comb_df1[comb_df1['conv_date'] < comb_df1['imp_date'] + timedelta(days=1)]
comb_df2

,auction_id,message_id,user_id,spend,imp_date,conversion_id,conversion_name,conv_date
0,1031386905892227659,651411,32262,0.00029,2018-07-09 07:30:18,285724,visite,2018-07-09 12:18:59
1,7002424012566036536,336028,32262,0.00061,2018-07-09 09:36:22,285724,visite,2018-07-09 12:18:59
42,6781417062508112820,336028,63548,0.00074,2018-07-12 12:40:17,760041,vente,2018-07-12 14:04:00
53,242695769126766696,335881,53229,0.00054,2018-07-09 07:30:36,760041,vente,2018-07-09 11:37:34
56,1095269358252709049,336028,25994,0.00059,2018-07-10 18:14:05,285724,visite,2018-07-11 06:02:25
...,...,...,...,...,...,...,...,...
16005,6682814574162461308,336028,88411,0.00029,2018-07-15 05:00:14,760041,vente,2018-07-15 14:10:38
16012,932252282285917441,336028,70702,0.00077,2018-07-15 05:27:20,285724,visite,2018-07-15 10:45:02
16017,3093674932027636955,336028,61995,0.00088,2018-07-15 09:33:18,285724,visite,2018-07-15 19:09:21
16154,3744858819027424781,336028,65719,0.00031,2018-07-15 15:15:16,760041,vente,2018-07-15 18:29:22
16165,6685580618585886334,336028,41188,0.00007,2018-07-15 04:25:20,285724,visite,2018-07-15 10:19:34

In [65]:
#assigned conv
conv_total2 = comb_df2.groupby('conversion_name')['user_id'].count()
conv_total2

conversion_name
vente      707
visite    1527
Name: user_id, dtype: int64

In [66]:
#CPA
cpa2 = total_cost / conv_total2
cpa2

conversion_name
vente     0.116072
visite    0.053741
Name: user_id, dtype: float64

In [67]:
repetition = total_impressions / unique_users
repetition

2.1755250007221467

### i.Date range, ii. Performance stats iii. Message/ad stats distribution

#### i. 2018-07-09 00:04:19 to 2018-07-15 19:59:10 (yyyy-mm-dd) [Conversion]

#### ii.

In [86]:
performance_stats = {
    'Total Cost': total_cost,
    'CPM': cpm,
    'Total Impressions': total_impressions,
    'Unique Users Impressed': unique_users,
    'Repetition': repetition,
    'Conversions Assigned': conv_total,
    'CPA': cpa
}

In [87]:
performance_stats

{'Total Cost': 82.06262999999984,
 'CPM': 0.5447996733696688,
 'Total Impressions': 150629,
 'Unique Users Impressed': 69238,
 'Repetition': 2.1755250007221467,
 'Conversions Assigned': conversion_name
 vente     3000
 visite    6582
 Name: user_id, dtype: int64,
 'CPA': conversion_name
 vente     0.027354
 visite    0.012468
 Name: user_id, dtype: float64}

In [130]:
import pandas as pd

# Data for constructing the table
data = {
    'Total Cost': [82.06263],
    'CPM': [0.54480],
    'Total Impressions': [150629],
    'Unique Users Impressed': [69238],
    'Repetition': [2.17553],
    'Conversions Assigned (Visits)': [6582],
    'Conversions Assigned (Sales)': [3000],
    'CPA (Visits)': [0.01247],
    'CPA (Sales)': [0.02735]
}

# Create DataFrame
performance_stats_df = pd.DataFrame(data)

# Display the DataFrame
performance_stats_df

,Total Cost,CPM,Total Impressions,Unique Users Impressed,Repetition,Conversions Assigned (Visits),Conversions Assigned (Sales),CPA (Visits),CPA (Sales)
0,82.06263,0.5448,150629,69238,2.17553,6582,3000,0.01247,0.02735

#### iii.

In [88]:
df_imp.message_id.value_counts()

336028    62603
335881    39870
530308    28016
651411    20140
Name: message_id, dtype: int64

In [123]:
#count of user_ids for each message
ad_user = df_imp[['message_id','user_id']].groupby(['message_id']).count().reset_index()
ad_user

   message_id  user_id
0      335881    39870
1      336028    62603
2      530308    28016
3      651411    20140

In [124]:
#total users
users_total = ad_user.user_id.sum()
users_total

150629

In [125]:
#distribution of users
ad_user['Distribution']= ad_user.user_id/users_total*100
ad_user

   message_id  user_id  Distribution
0      335881    39870     26.469007
1      336028    62603     41.561054
2      530308    28016     18.599340
3      651411    20140     13.370599

In [126]:
ad_user.rename(columns = {'message_id':'Number of different messages','user_id':'Number of users impressed'}, inplace = True)
ad_user

   Number of different messages  Number of users impressed  Distribution
0                        335881                      39870     26.469007
1                        336028                      62603     41.561054
2                        530308                      28016     18.599340
3                        651411                      20140     13.370599

### Unique user_id exposure
#### One user might be exposed to multiple Ads

#### iv.

In [94]:
performance_stats2 = {
    'Total Cost': total_cost,
    'CPM': cpm,
    'Total Impressions': total_impressions,
    'Unique Users Impressed': unique_users,
    'Repetition': repetition,
    'Conversions Assigned': conv_total2,
    'CPA': cpa2
}

In [95]:
performance_stats2

{'Total Cost': 82.06262999999984,
 'CPM': 0.5447996733696688,
 'Total Impressions': 150629,
 'Unique Users Impressed': 69238,
 'Repetition': 2.1755250007221467,
 'Conversions Assigned': conversion_name
 vente      707
 visite    1527
 Name: user_id, dtype: int64,
 'CPA': conversion_name
 vente     0.116072
 visite    0.053741
 Name: user_id, dtype: float64}

In [ ]:
# Issues
#1. split by message type with users:
    #two ways to approach a. by removing the duplicates in user_id and then split by message type
    #b. split impressions by meesage type and then find unique.
    #a. some user ids might be missing as it might be a duplicate since they must have viewed multiple ads
    #b. some user ids in typ1 might be present in typ2 as well.

In [98]:
# Separate the impressions data into the two message types
type1_ids = [651411, 530308]
type2_ids = [335881, 336028]

impressions_type1 = df_imp[df_imp['message_id'].isin(type1_ids)]
impressions_type2 = df_imp[df_imp['message_id'].isin(type2_ids)]
impressions_type1

                 auction_id  message_id  user_id    spend            imp_date
1       1019125075080749328      530308    75065  0.00021 2018-07-09 07:09:24
3       1031386905892227659      651411    32262  0.00029 2018-07-09 07:30:18
8       1092470705399773146      530308    10984  0.00117 2018-07-09 06:59:40
10       112494249160477052      651411    75346  0.00034 2018-07-09 07:17:42
12      1167554906916683431      530308    59343  0.00008 2018-07-09 07:03:27
...                     ...         ...      ...      ...                 ...
150603    87552326290426029      530308    49776  0.00013 2018-07-15 19:03:52
150609  1156932924028013178      530308    20363  0.00029 2018-07-15 19:04:39
150612  3084387555436716438      530308    43797  0.00079 2018-07-15 19:04:51
150615  5818269225803916040      530308    85899  0.00058 2018-07-15 19:04:42
150618  6352008464267281303      530308    88557  0.00038 2018-07-15 19:03:53

[48156 rows x 5 columns]

In [99]:
impressions_type2

                 auction_id  message_id  user_id    spend            imp_date
0       1011527229225982812      335881    81763  0.00048 2018-07-09 07:14:28
2       1026658047695643709      336028    36559  0.00052 2018-07-09 07:10:52
4       1037113241780132055      335881    50281  0.00068 2018-07-09 06:58:23
5       1048406658595739535      335881    40227  0.00026 2018-07-09 07:36:08
6       1067788214122710940      335881    72360  0.00058 2018-07-09 06:51:21
...                     ...         ...      ...      ...                 ...
150624  8099454765208265847      336028    48750  0.00061 2018-07-15 19:04:45
150625  8460652359784980519      336028    52619  0.00029 2018-07-15 19:04:43
150626  8588427627177821422      336028    79679  0.00056 2018-07-15 19:05:12
150627  8591880332338052557      336028    78716  0.00010 2018-07-15 19:03:25
150628  8918605915262368898      336028    64752  0.00022 2018-07-15 19:04:31

[102473 rows x 5 columns]

In [101]:
# Merge impressions with conversions for each type
merged_type1 = pd.merge(impressions_type1, df_conv, on='user_id', suffixes=('_impression', '_conversion'))
merged_type1 = merged_type1[merged_type1['conv_date'] > merged_type1['imp_date']]

merged_type2 = pd.merge(impressions_type2, df_conv, on='user_id', suffixes=('_impression', '_conversion'))
merged_type2 = merged_type2[merged_type2['conv_date'] > merged_type2['imp_date']]

In [102]:
# Calculate KPIs for Type 1
total_cost_type1 = impressions_type1['spend'].sum()
total_impressions_type1 = impressions_type1.shape[0]
unique_users_type1 = impressions_type1['user_id'].nunique()
repetition_type1 = total_impressions_type1 / unique_users_type1
conversions_assigned_type1 = merged_type1.groupby('conversion_name')['user_id'].count()
cpa_type1 = total_cost_type1 / conversions_assigned_type1
cpm_type1 = (total_cost_type1 / total_impressions_type1) * 1000

In [103]:
# Calculate KPIs for Type 2
total_cost_type2 = impressions_type2['spend'].sum()
total_impressions_type2 = impressions_type2.shape[0]
unique_users_type2 = impressions_type2['user_id'].nunique()
repetition_type2 = total_impressions_type2 / unique_users_type2
conversions_assigned_type2 = merged_type2.groupby('conversion_name')['user_id'].count()
cpa_type2 = total_cost_type2 / conversions_assigned_type2
cpm_type2 = (total_cost_type2 / total_impressions_type2) * 1000

In [107]:
conversions_assigned_type1.sum()

3159

In [108]:
conversions_assigned_type2.sum()

6423

In [109]:
total_cost_type2

56.1460099999999

In [110]:
total_cost_type1

25.916619999999952

In [112]:
tcpa_type1 = total_cost_type1/conversions_assigned_type1.sum()
tcpa_type1

0.008204058246280453

In [113]:
tcpa_type2 = total_cost_type2/conversions_assigned_type2.sum()
tcpa_type2

0.008741399657480912

In [115]:
# Prepare the performance stats tables
performance_stats_type1 = {
    'Total Cost': total_cost_type1,
    'CPM': cpm_type1,
    'Total Impressions': total_impressions_type1,
    'Unique Users Impressed': unique_users_type1,
    'Repetition': repetition_type1,
    'Conversions Assigned': conversions_assigned_type1,
    'CPA': cpa_type1,
    'tCPA': tcpa_type1
}

performance_stats_type2 = {
    'Total Cost': total_cost_type2,
    'CPM': cpm_type2,
    'Total Impressions': total_impressions_type2,
    'Unique Users Impressed': unique_users_type2,
    'Repetition': repetition_type2,
    'Conversions Assigned': conversions_assigned_type2,
    'CPA': cpa_type2,
    'tCPA': tcpa_type2
}

performance_stats_type1, performance_stats_type2

({'Total Cost': 25.916619999999952,
  'CPM': 0.5381804967189956,
  'Total Impressions': 48156,
  'Unique Users Impressed': 36147,
  'Repetition': 1.332226740808366,
  'Conversions Assigned': conversion_name
  vente      995
  visite    2164
  Name: user_id, dtype: int64,
  'CPA': conversion_name
  vente     0.026047
  visite    0.011976
  Name: user_id, dtype: float64,
  'tCPA': 0.008204058246280453},
 {'Total Cost': 56.1460099999999,
  'CPM': 0.5479102788051476,
  'Total Impressions': 102473,
  'Unique Users Impressed': 58351,
  'Repetition': 1.7561481379924937,
  'Conversions Assigned': conversion_name
  vente     2005
  visite    4418
  Name: user_id, dtype: int64,
  'CPA': conversion_name
  vente     0.028003
  visite    0.012708
  Name: user_id, dtype: float64,
  'tCPA': 0.008741399657480912})

#### i.

In [128]:
data_type1 = {
    'Total Cost': 25.91662,
    'CPM': 0.53818,
    'Total Impressions': 48156,
    'Unique Users Impressed': 36147,
    'Repetition': 1.33223,
    'Conversions Assigned (Visits)': 2164,
    'Conversions Assigned (Sales)': 995,
    'CPA (Visits)': 0.01198,
    'CPA (Sales)': 0.02605,
    'tCPA': 0.00820
}

data_type2 = {
    'Total Cost': 56.14601,
    'CPM': 0.54791,
    'Total Impressions': 102473,
    'Unique Users Impressed': 58351,
    'Repetition': 1.75615,
    'Conversions Assigned (Visits)': 4418,
    'Conversions Assigned (Sales)': 2005,
    'CPA (Visits)': 0.01271,
    'CPA (Sales)': 0.02800,
    'tCPA': 0.00874
}

# Create a DataFrame for easier display
performance_comparison_df = pd.DataFrame([data_type1, data_type2],
                                         index=['Type 1: Promotional Offer', 'Type 2: Generic Offer'])

performance_comparison_df

,Total Cost,CPM,Total Impressions,Unique Users Impressed,Repetition,Conversions Assigned (Visits),Conversions Assigned (Sales),CPA (Visits),CPA (Sales),tCPA
Type 1: Promotional Offer,25.91662,0.53818,48156,36147,1.33223,2164,995,0.01198,0.02605,0.00820
Type 2: Generic Offer,56.14601,0.54791,102473,58351,1.75615,4418,2005,0.01271,0.02800,0.00874

#### ii. Some the bias here could be: Audience overlap - since both the types of messages are exposed to both users, it is difficult to seperate out the impact of the messages on user ; Temporal bias - time of broadcast rather than message itself ; External Factor biases, engagement bias due to the presentation rather than message itself.
#### Audience overlap can be avoided by segmenting the audience into categories based on demographics and behaviours. 
#### Temporal bias can be avoided by sending both types of messages at the same time to study the effect of ads based on time.
#### External Factor - take into consideration, canibalisation due to a comptetitor ad being broadcasted at the same time, holidays, economic conditions (maybe due to a pandemic)